@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1e2734;
  --foreground: #d22f36;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

  .pointer {
    transform: translate(609px, 550px);
  }

  .tick-line {
    display: none;
  }
}
